@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  // color: rgb(154, 182, 235);
  background: linear-gradient(#e66465, #9198e5);
}

img {
  size: 24em;
  width: 200px;
  height: 200px;
  border-radius:10 px 5px black; 

}
h1 {
  text-align: center;
}
// nav {
//   ul {
//     margin: 0;
//     padding: 0;
//     list-style: none;
//   }

//   li { display: inline-block; }

//   // a {
    // display: block;
    // padding: 6px 12px;
    // text-decoration: none;
  // }
// }