@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '../styles/colors.scss';
body {
  background: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
navbar {
color: $color2-light-green-gray;

}
.card-header {
  color:$color1-salmon-pink;
}

.card-pins {
color:$color4-medium-brown
}

h1 {
  color: $color3-beige;
}

h2 {
  color:$color2-light-green-gray; 
}
button {
  text-align: center;
}
img {
  size: 24em;
  width: 200px;
  height: 200px;
  border-radius:10 px 5px black; 

}
h1 {
  text-align: center;
}
// nav {
//   ul {
//     margin: 0;
//     padding: 0;
//     list-style: none;
//   }

//   li { display: inline-block; }

//   // a {
    // display: block;
    // padding: 6px 12px;
    // text-decoration: none;
  // }
// }